<section class="jumbotron text-center">
    <div class="container">
        <a class="btn btn-outline-primary"asp-area="" asp-controller="Account" asp-action="Login" role="button"> Login</a>
             
        <a class="btn btn-outline-primary"asp-area="" asp-controller="Account" asp-action="Register" role="button"> Registration</a>


    </div>
</section>



